body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #2f73b9;
  --color-black: #000;
  --color-whitesmoke: #f2f2f2;

  /* Paddings */
  --padding-4xs: 9px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-4xs: 9px;
  --br-lgi: 19px;
}
